<div class="container-users ">
    <h1>Github User Search</h1>
    <input type="search" placeholder="User Name..." class="users-search-input" [formControl]="searchUserName">
    <div>
        <table class="users-table">
            <thead *ngIf="githubUsers.items.length">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr class="user-table-tr" *ngFor="let user of githubUsers.items" (click)="viewUserDetails(user)">
                    <td class="text-center"><img class="user-img" [src]="user.avatar_url" alt=""></td>
                    <td>{{ user.login }}</td>
                    <td class="text-center">{{ user.site_admin }}</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator *ngIf="githubUsers.items.length" [pageSize]="10" [length]="githubUsers.total_count"
            (page)="searchUsers($event.pageIndex, $event.pageSize)"></mat-paginator>
    </div>
</div>