.container-users {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;

    .users-search-input {
        width: 70%;
        padding: 0.5rem;
        border-radius: 25px;
        border: none;
        margin: 25px auto;
    }

    .users-table {
        width: 100%;
        overflow: hidden;
        margin: 10px 0;

        .user-img {
            width: 60px;
            border-radius: 30px;
            vertical-align: middle;
            margin: 2.5px auto;
        }

        .user-table-tr {
            background: #221c33;
            cursor: pointer;

            .user-table-td {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .user-table-tr:hover {
            background: #805ddf;
        }
    }

    .mat-paginator {
        background-color: red;
    }
}

.text-center {
    text-align: center;
}

.mat-paginator {
    background-color: red;
}